
#cow {
  position:absolute;
  left: 52px;
  top: 220px;
  width: 124px;
  height: 200px;
  background-image: url('cow.png');
  transform: rotate(90deg);
  background-position: center;
  
  }

.Nfence{
  left: 0px;
  top: 0px;
  height: 120px;
  width: 100%;
  background-image: url('fence.png');
  background-repeat: repeat-x;
}

.Sfence{
  height: 120px;
  width: 100%;
  background-image: url('fence.png');
  background-repeat: repeat-x;
  position:absolute;
  left: 0px;
  top: 700px;
 
}

  .stuff {
margin-top: 100px;
position: fixed;
bottom:0;
right:0;
}

  

  .commands {

    background-color:  whitesmoke;
    width: 275px;
    height: 200px;
    position: fixed;
    bottom:25px;
    right:5px;
}

  