
#cow {
  position:absolute;
  left: 52px;
  top: 220px;
  width: 124px;
  height: 200px;
  background-image: url('cow.png');
  transform: rotate(90deg);
  background-position: center;
  
  }

  #cowFriend {
    position: absolute;
    left: 2217px;
    top: -49px;
    width: 124px;
    height: 200px;
    background-image: url(cow.png);
    transform: rotate(211deg);
    background-position: center;
}


#cowFriend1 {
  position: absolute;
  left: 2942px;
  top: 462px;
  width: 124px;
  height: 200px;
  background-image: url(cow.png);
  transform: rotate(290deg);
  background-position: center;
}

.Nfence{
  left: 0px;
  top: 0px;
  height: 120px;
  width: 100%;
  background-image: url('fence.png');
  background-repeat: repeat-x;
}

.Sfence{
  height: 120px;
  width: 100%;
  background-image: url('fence.png');
  background-repeat: repeat-x;
  position:absolute;
  left: 0px;
  top: 700px;
 
}

  .stuff {
position: fixed;
top:0;
right:121px;
}

.execute {

    position: fixed;
    top:205px;
    right:4px;
    }


  .button1
{

  margin-left: 50px;
}

.button2{
  margin-left: 57px;
}

.button3{
  margin-left: 35px;
}

.button4{
  margin-left: 27px;
}
  .commands {

    background-color:  whitesmoke;
    width: 100px;
    height: 200px;
    position: fixed;
    top:0;
    right:5px;
}

.instructions{
  background-color: aqua;
}
  